.idea/.name
.idea/encodings.xml
.idea/HTML5_PRO.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
Foundation/css/foundation.css
Foundation/humans.txt
Foundation/index.html
/node_modules
